html, body {
    height: 100%;
    /* doesn't look right without this*/
}

body {
    font-family: arial, sans-serif;
    font-size: 14px;
    margin:0;
    padding:0;
    height: 100%;
}
a {
    text-decoration: none;
    opacity: .75;
}

.container .row {
    text-align: center;
    margin: auto;
    padding-right: 15px;
    padding-left: 0px;
}
.header {
    height: 90px;
    padding: 4px;
}

.container .logo {
    margin-top: 100px;
}

.text-left {
    float: left;
}

.text-right i 
{
    vertical-align: middle;
}

.text-right {
    float: right;
}

.google-search {
    padding: 8px 15px;
    resize: horizontal;
    width: 500px;
}

input:active {
    width: auto;
    text-align: left;
}

input:focus {
    min-width: 500px;
}

.form {
    margin: auto;
}

.form-control {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    color: #757575;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #e4e4e4;
    border-bottom-color: #bfbfbf;
    border-radius: 1px;
    box-shadow: 0 3px 3px 0px #bfbfbf; 
}

.form-control:hover {
    box-shadow: 0 3px 5px 3px #bfbfbf;
}

.fake-btn-group {
    padding: 20px 0px;
}

.btn {
    background-color: #f2f2f2;
    color: #757575;
    font-weight: 700;
    font: bold 13px Arial, sans-serif;
    border-radius: 16px;
    border-style: none;
    text-decoration: none;
    padding: 12px 9px;
}

a.btn {
    color: #757575;
    opacity: 1;
    padding-right: 16px;
    padding-left: 16px;
}

.btn:hover {
    background-color: #f2f2f2;
    color: black;
    font-weight: 700;
    font: bold 13px Arial, sans-serif;
    opacity: 1;
    text-decoration: none;
    padding: 12px 9px;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 2px;
    border: 2px solid #c7c7c7;
    cursor: pointer;
} 

.container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
}
.footer, .push {
    height: 40px;
}

.footer {
    background-color: #f2f2f2;
    border-top-style: solid;
    border-top-color: #e4e4e4;
    border-top-width: thin;
}

.container, .footer {
    padding: 0 21px;
}

.footer a {
    margin: 0 auto;
    padding: 10px;
    color: #222;
    opacity: 4;
}

.header a {
    margin: 0 auto;
    padding: 10px;
    color: #222;
}

#app {
    opacity: .85;
    padding-bottom: 2px;
    padding-right: 15px;
    padding-left: 5px;
    cursor: pointer;
}

#but1 {
    border-radius: 5px;
    background-color: #4285f4;
    border: none;
    color: white;
    padding: 6px 11px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
    border: 2px solid #4285f4;
    cursor: wait;
}